*{
    margin-top:10px;
    margin-bottom:10px;
}
body{
  background: rgba(102, 130, 130, 0.52) url(https://get.wallhere.com/photo/geometry-cyberspace-1472425.jpg) fixed;;
}
header
{
        width:960px; 
        background-color: #DDA0DD;
         height:120px;
}    
footer{
  width:100%; 
  background-color: rgb(255, 196, 221); 
  padding: 10px; 
  height:30px;
}
#logo
{
        float:left; 
        margin:10px; 
        width:100px; 
        height:100px;
}
h1 {
    margin-top: 15px;
    font-size: 2em;
    font-weight: bold;
    }
    
.page {
    background-color: #DB7093;
    padding: 10px;
    font-family: serif;
    height: 100%;
}
.leftimg
 {
        float:left; 
        margin: 7px 7px 7px 0; 
        width: 50px;
        height: 50px;
}
#tr1,#tr3,#tr5
{
      background-color:#CD5C5C;
}
#tr2,#tr4
{
      background-color:#DDA0DD;
}
#form
{
  background:bisque;
  
}
#table
{
  background:bisque;
  
}
@media screen and (min-width:1100px)
{
  #hyperlinks
  {
    order:1;
  }
  #table
  {
    order:2;
  }
  #form
  {
    order:3;
  }
}
#golova{
	color: #aaafb5;
	font-family: "Courier New", monotype;	
}
